input {
	margin:5px;
}

button {
	border:none;
	background:none;
	padding:0;
}

button:focus{
	outline:none;
}

.option:first-child{
	margin-left:0;
}

.option {
	display: inline-block;
	margin: 5px;
	font-size:14px;
	text-decoration: underline;
	cursor:pointer;
}

.optionContainer{
	margin-top:10px;
}